.hidden {
  display: none;
}

body {
  background-image: url('https://img.freepik.com/free-vector/luxury-beautiful-shining-jewellery-background_1284-12638.jpg?w=996&t=st=1696632606~exp=1696633206~hmac=3eaad0d9bc5fb5599d8a4ec835af457f7ccab5775ba885d75fa940694af4d4e1');
  text-align: center;
}

#form {
  text-align: center;
  border: solid;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  height: 30em;
  box-shadow: 1px 10px 18px 10px springgreen;
  border-radius: 20px;
  border-style: inset;
  border-color: crimson;
}

#form-container {
  display: flex;
  justify-content: center;
}